# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.development
.env.production

# Ignore package-lock.json for npm
package-lock.json

# Ignore .DS_Store files on Mac
.DS_Store

# Compiled JavaScript files
/lib/

# Except the ESLint config file
!.eslintrc.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase runtime config
.runtimeconfig.json
